@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@font-face{ 
	font-family: 'Fortuna';
	src: url('../stylesheet/fortuna_regular-fortuna.eot');
	src: url('../stylesheet/fortuna_regular-fortuna.eot?#iefix') format('embedded-opentype'),
	     url('../stylesheet/fortuna_regular-fortuna.woff') format('woff'),
	     url('../stylesheet/fortuna_regular-fortuna.ttf') format('truetype'),
	     url('../stylesheet/fortuna_regular-fortuna.svg#fortuna') format('svg');
}
@font-face{ 
	font-family: 'FortunaB';
	src: url('../stylesheet/fortuna_bold-fortuna.eot');
	src: url('../stylesheet/fortuna_bold-fortuna.eot?#iefix') format('embedded-opentype'),
	     url('../stylesheet/fortuna_bold-fortuna.woff') format('woff'),
	     url('../stylesheet/fortuna_bold-fortuna.ttf') format('truetype'),
	     url('../stylesheet/fortuna_bold-fortuna.svg#fortuna') format('svg');
}
  * {
    font-family: "Fortuna", Arial, sans-serif;
	padding: 0;
	margin: 0;
	zoom: 97%;
  }


  body {
	font-family: "Roboto", Arial, sans-serif;
  }

  /* Navigation Menu */

  a {
	color: #000;
	text-decoration: none;
  }
  
  /* header */
  
  .header {
	position: fixed;
	width: 100%;
	background:white;
	z-index: 100;
	height: auto;
	padding: 0;
	margin: 0%;
  }
  
  .header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	background-color: rgb(255, 255, 255);
	overflow: hidden;
	height: 10%;
  }
  
  .header  li a {
	display: block;
	align-items: center;
	text-align: center;
	justify-content: center;
	text-decoration: none;
	font-size: 1.2em;
	color: black;
	font-family: "Fortuna";
  }

   .header li a:hover {
	color: rgba(80, 80, 80, 0.911);
  }
  
  
  .header .logo {
	display: block;
	float: left;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 33px 35px;
	font-size: 1.2rem;
	text-decoration: none;
	color:black;
	margin: 0 auto;

  }

  .logo {
	font-family: "FortunaB", sans-serif;
	text-transform: uppercase;
	text-align: center;
	justify-content: center;
	align-items: center;
	letter-spacing: 2px;
  }

  .logo:hover {
	color: rgba(80, 80, 80, 0.911);
  }
  
  /* Menu */
  
  
  .header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
	height: 100%;
  }
  
  /* menu icon */
  
  .header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 33px 10px;
	position: relative;
	user-select: none;
  }
  
  .header .menu-icon .navicon {
	background: rgb(0, 0, 0);
	display: block;
	height: 2px;
	position: relative;
	transition: background .3s ease-out;
	width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
	background: rgb(0, 0, 0);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .4s ease-out;
	width: 100%;
  }

  .active {
	border-bottom: rgba(80, 80, 80, 0.911);
  }
  
  .header .menu-icon .navicon:before {
	top: 5px;
  }
  
  .header .menu-icon .navicon:after {
	top: -5px;
  }
  
  /* menu btn */
  .header .menu-btn {
	display: none;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 960px) {

	.header li {
		display: inline-block;
	}
	.header li a {
		position: relative;
	  	padding: 30px 35px;
	  	font-size: 1.1rem;
	}

	.header .menu {
	  	clear: none;
	  	max-height: none;
	  	align-items: center;
	  	text-align: center;
	  	justify-content: center;
		float: right;
	}

	.header .menu-icon {
	  	display: none;
	}
  }

  @media (max-width: 960px) {

	* {
		zoom: 100%;
	}

	.header .menu-btn {
		display: none;
	  }
	  
	  .header .menu-btn:checked ~ .menu {
		max-height: 100vh;
		transition: all .4s ease-out;
		
	  }

	  .header .menu-btn:checked ~ .menu-icon .navicon {
		  background-color: white;
	  }
	  
	  .header .menu-btn:checked ~ .menu-icon .navicon:before {
		transform: rotate(-45deg);
		overflow: hidden;
	  }
	  
	  .header .menu-btn:checked ~ .menu-icon .navicon:after {
		transform: rotate(45deg);
		overflow: hidden;
	  }
	  
	  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
	  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
		  top: 0;
	  }

	.header .menu-btn:checked ~ .menu {
		min-height: 100vh;
		transition: all .4s ease-out;
		overflow: -moz-hidden-unscrollable;
	  }

	  /* https://stackoverflow.com/questions/55284960/is-possible-to-hide-scrollbar-on-mobile-for-webpage */
	  ::-webkit-scrollbar {
			width: 0px;
			background: transparent; /* make scrollbar transparent */
			}
	
	
	.header li a  {
		font-size: 3.8em;
		line-height: 0.5;
		margin: 100px 20px;
		position: relative;
	}

	.header .logo {
		padding: 20px 20px;
	}
}
  /* Navigation End */

  	#scroll-down {
		  align-items: center;
		  padding: 50px 10px 10px 10px;
		  margin-left: 41%;
		  height: 50px;
		  width: 10px;


}
/* Footer */
	.container{
	display: inline-;
}
	.email {
	cursor: pointer;
}

	.fab {
	cursor: pointer;
}

	.fab {
	display: inline-block;
	font-size: 1.1rem;
	margin: 20px;
	margin-top: 0%;
}
/* Footer End */

  /* Hero */

	.hero h1{
		font-family: "Fortuna", sans-serif;
		letter-spacing: 4px;
		text-align: center;
		align-items: center;
		justify-content: center;
		font-size: 4.1rem;
		font-weight: bolder;
	}

	.ideas {
		color: grey;
	}

	.hero p{
		font-family: "Fortuna", sans-serif;
		text-align: center;
		align-items: center;
		justify-content: center;
		font-size: 1.1rem;
		color: rgb(121, 121, 121);
		letter-spacing: 4px;
	}

	.simple-text {
		font-size: 1.2rem;
		color: rgb(0, 0, 0);
		
	}

/* Hero End */


/* Projects */

	.banner {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 60%;
		cursor: pointer;
		border-radius: 4%;
	}

	.banner:hover {
		-webkit-transform: scale(1.03);
		transform: scale(1.03);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}

	.banner2 {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 60%;
		cursor: pointer;
		border-radius: 4%;
	}

	.banner2:hover {
		-webkit-transform: scale(1.03);
		transform: scale(1.03);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}


	.title h3{
		font-family: "FortunaB", sans-serif;
		letter-spacing: 2px;
		text-align: center;
		align-items: center;
		justify-content: center;
		font-size: 2.3rem;
		font-weight: bolder;
		color: black;
	}
	
	.title p{
		font-family: "Fortuna", sans-serif;
		text-align: center;
		align-items: center;
		justify-content: center;
		font-size: 1.1rem;
		color: rgb(121, 121, 121);
		letter-spacing: 2px;
	}

	/* Projects */

	.fab {
		font-size: 1.6rem;
		margin: 5px;
		margin-top: 0%;
	}

	.fa-linkedin {
		background: transparent;
		color: #3866ca;
		text-decoration: none;
	}

	.fa-instagram {
		background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
		-webkit-background-clip: text;
				/* Also define standard property for compatibility */
				background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.fa-github {
		color: black;
	}

/* font for contacting "Lets" */
	.lets {
		align-items: center;
		text-align: center;
		font-family: 'FortunaB';
		padding-bottom: 30px;
		font-family: "Fortuna";
		font-size: 2.3em;

	}

	.email {
		cursor: pointer;
	}

	.fab {
		cursor: pointer;
	}

	/* About.html Page */

	.about-banner {
		width: 100%;
	}

/* Contact.html Page */

.signup-form {
    margin-top: 50px;
	position: relative;
	display: block;
    color: rgb(0, 0, 0);
    left: 26%;
    padding: 30px;
	text-align: left;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.signup-form > h1 {
    color: #000000;
    margin-bottom: 20px;
	text-align: center;
}

.text-input {
    background: white;
    color: #000000;
    width: 100%;
    height: 25px;
	padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #000000;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #000000;
}

.join-button {
    margin-top: 20px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #0d6efd;
    color: #fafafa;
	position: relative;
	align-items: center;
	left: 40%;
}

textarea {
	width: 100%;
	height: 150px;
	padding: 10px;
}

.colum-right {
	float: right;
	padding: 50px 10px 15px 10px;
	height: 50%;
	width: 20%;
}

.colum-left {
	float: left;
	padding: 50px 10px 15px 10px;
	height: 50%;
	width: 20%;
}
